aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.3
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.0
certifi==2019.11.28
chardet==3.0.4
chromedriver-py==81.0.4044.69
colorama==0.4.3
cycler==0.10.0
darkdetect==0.1.1
distlib==0.3.0
Django==3.0.7
filelock==3.0.12
future==0.18.2
idna==2.9
Js2Py==0.68
kiwisolver==1.2.0
lxml==4.5.0
matplotlib==3.3.0
multidict==4.7.5
numpy==1.19.1
pefile==2019.4.18
Pillow==7.0.0
pipenv==2018.11.26
pycryptodome==3.4.3
pycryptodomex==3.9.7
pygame==1.9.6
PyInstaller==3.6
pyjsparser==2.7.1
pyparsing==2.4.7
pyperclip==1.8.0
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
qrcode==6.1
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
telepot==12.7
tzlocal==2.0.0
urllib3==1.25.8
virtualenv==20.0.20
virtualenv-clone==0.5.4
yarl==1.4.2
